.container {
    max-width: 1200px;
    text-align: justify;
    margin: 0 auto;
    /*word-wrap: break-word;*/
    font-size: 1em;
    
}

#article {
    max-width: 1200px;
    text-align: justify;
    margin: 0 auto;
    /*word-wrap: break-word;*/
    font-size: 1em;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
  
}

.navbar-right{
  margin-right: auto;
}

#navbar ul {
  display: none;
  background-color: green;
  position: absolute;
  top: 100%;
}

#navbar li:hover ul {
  display: block;
}

#navbar,
#navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navbar {
  height: 30px;
  background-color: green;
  padding-left: 25px;
  min-width: 470px;
}

#navbar li {
  float: left;
  position: relative;
  height: 100%;
  
}

#navbar li ol {
  float: left;
  position: relative;
  height: 100%;
  
}

#navbar li a {
  display: block;
  padding: 6px;
  width: 130px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#navbar ul li {
  float: none;
}

#navbar li:hover {
  background-color: #f90;
}

#navbar ul li:hover {
  background-color: #666;
}


.circle-img img {
    width: 350px;
    height: 226px;
    border-radius: 50%;
    margin-bottom: 20px;
    float: left;
}

.carousel-inner>.item>img {
    margin: 0 auto;
    max-height: 350px;
}

#myCarousel {
    max-width: 450px;
    max-height: 350px;
    margin: 0 auto;
}


#map {
    width: 320px;
    height: 170px;
    float: left;
}

.social img {
  width: 25px;
  height: 25px;
  position: relative;
  
}

#footer {
    text-align: center;
    background-color: #BAFF85
  
}
.left {
text-align: left;
background-color: #BAFF85
}

.center {
  text-align: center;
  background-color: #BAFF85
}

.right {
  text-align: right;
  background-color: #BAFF85
}
.social {
  text-align: right;
  background-color: #BAFF85
}


#menu{
    width:auto;
    margin:1px;
}

#menu ul{
    list-style:none;
}
#menu li{
    list-style:none;
    display:block;
    line-height:32px;
    height:32px;
    margin:7px 0;
    width:200px;
}
#menu li a{
    display:block;
    height:33px;
    text-transform:uppercase;
    font-size:16px;
    font-weight:bold;
    line-height:32px;
    padding:0 0 0 25px;
    text-decoration:none;
    color:#006A35;
    background: #95DF8E;
    border:solid 1px #006A35;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
 
#menu li a:hover{
    background: #35C835;
    color:#fff;
}
